DATABASE_URL="" # This is the connection string to your database that Prisma will use to connect to your database. You can get this from the Prisma dashboard.
PULSE_API_KEY="" # This is the API key that you will use to authenticate with the Pulse API. You can get this from the Pulse dashboard.